/* ------- */
@import url("https://fonts.googleapis.com/css?family=Lato");

:root {
	--main-color: #333;
	--secondary-color: #333;
	--links-color: #816BFF;
}

img {
	max-width: 35%;
	max-height: 35%;
}

body {
	background: var(--main-color) url('/assets/bg.png') repeat;
	color: lighten(var(--secondary-color), 40);
	overflow: hidden;
}

.container {
	font-family: 'Lato', sans-serif;
	margin: 0 auto;
	padding: 0 1rem;
	font-size: 16px;
}

.title {
	margin: 0 0 .1em;
	color: white;
	font-weight: 700;
	font-size: 2em;
	line-height: 1.2;
}

.sec {
	margin: 0 0 .75em;
	color: white;
	font-weight: 100;
}

h2 {
	margin: 0;
}

.center {
	text-align: center;
}

.title:hover,
.sec:hover,
.imageHolder:hover {
	transform: scale(1.05);
	transition: transform 0.3s ease-in-out;
}