/* ------- */
@import url("https://fonts.googleapis.com/css?family=Lato");

:root {
	--main-color: #f7b1b1;
	--secondary-color: #666;
	--links-color: #816BFF;
}

body {
	background-color: var(--main-color);
	color: lighten(var(--secondary-color), 40);
	animation: colorchange 30s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-play-state: running;
	overflow: hidden;
}

@keyframes colorchange {
	0% {
		background: #C62828;
	}

	14% {
		background: #EF6C00;
	}

	28% {
		background: #F9A825;
	}

	42% {
		background: #2E7D32;
	}

	56% {
		background: #1565C0;
	}

	70% {
		background: #6A1B9A;
	}

	84% {
		background: #AD1457;
	}

	100% {
		background: #C62828;
	}
}

.container {
	font-family: 'Lato', sans-serif;
	max-width: 640px;
	margin: 0 auto;
	padding: 0 1rem;
	font-size: 16px;
}

.title {
	margin: 0 0 .1em;
	color: lighten(var(--secondary-color), 20);
	font-weight: 700;
}

.sec {
	margin: 0 0 .75em;
	color: lighten(var(--secondary-color), 40);
	font-weight: 100;
}

h2 {
	margin: 0;
}

.center {
	text-align: center;
}